.cuerpa{
    background-image: linear-gradient(#cbe54e, #5ba8a0);
    display: flex;
    flex-direction: column;
    height: 100%;
}
.cabeza-b{
    height: 100vh;
    width: 5rem;
}
.cabeza-b img{
    width: 2rem;
    display: flex;
}
.navbar{
    margin-top: 90px;
    display: flex;
    justify-content: space-around;
    background-color: #b6f0d5;
    
}
.navbar a{
    /* transform: rotate(180deg); */
}
.content-m {
    display: flex;
    flex-direction: row; 
    flex-grow: 1; 
    padding: 20px;
    margin-right: 20px;
}
.eldiv{
    margin-left: 5rem;
    position: absolute;
}
.tarjeta {
	width: 30rem;
	height: 15rem;
	max-width: 400px;
	/* position: relative; */
	color: #fff;
	/* z-index: 2; */
	border-radius: 15px;
	background-image: url(./web/image/Fondo-tarjeta-verde.avif);
	margin-top: 110px !important;
	margin-left: 10rem;
}
.tarjeta-cuenta{
    height: 15rem;
	max-width: 800px;
	position: relative;
	color: #fff;
	z-index: 2;
	border-radius: 15px;
	background-image: url(./web/image/Fondo-tarjeta-verde.avif);
	margin-top: 110px !important;
	margin-left: 35rem;
}
.tarjeta-cuenta .delantera {
	width: 100%;
}
.calecita{
	height: 14rem;
	width: 50rem;
	position: absolute;
	margin-top: 400px !important;
	margin-left: 180px;
	z-index: 5;
	display: flex;
}
.calecita img{
	height: 20rem;
	width: 50rem;
}
.contenedor_loan{
	position: relative;
	margin-top: 1000px;
	z-index: 2;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}
.tarjeta .delantera {
	width: 100%;
}
.delantera .grupo .label {
	font-size: 1.5rem;
	color: #6dece6;
	font-weight: bold;
	margin-bottom: 5px;
	display: flex;
	justify-content: center;
}

.delantera .grupo .numero{
	display: flex;
	justify-content: center;
}
.table{
    width: 700px;
	position: absolute;
	margin-top: 400px !important;
    margin-left: 20rem;
	z-index: 12;
}
