*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.cuerpa {
    min-height: 80vh;
}
.cuerpa_seccion{
    border: solid 2px rgb(143, 143, 143);
    border-radius: 2%;

}
.cuerpa_seccion:hover{
    transform: scale(1.1);
    z-index: 1;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    background-color: #ffffff8f
}
.cuerpa_seccion_carrito{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.cuerpa h3{
    margin-top: 3rem;
    font-size: 25px;
    color: #008000;
    background-color: rgb(254, 255, 255);
    border-radius: 10%;
    text-align: left;
    margin-left: 0.5rem;
    transition: transform 0.2s, z-index 0.2s;
}
.cuerpa h5{
    text-align: left;
    margin-left: 0.5rem;
}
.cuerpa a{
    text-decoration: none;
    margin-top: 0.5rem;
    font-size: large;
    display: flex;
    justify-content: flex-start;
    margin-left: 2rem;
    color: #008000;
}
.cuerpa a:hover {
    transform: scale(1.1);
    font-size: x-large; 
    z-index: 1;
}
.cabeza-b {
    width: 100%;
    min-height: 20rem;
    justify-content: center;
    gap: 10rem;
}
.video_Header_btn{
    margin-bottom: 10rem;
}
.video_Header{
    width: 100%;
    background-size: cover;
    position: relative;
}
.calecita {
    height: 22rem;
    width: 100%;
    background-image: linear-gradient(0, rgba(254, 178, 45, 0.31) 0%, rgba(254, 178, 45, 0.31) 16.667%,rgba(233, 154, 68, 0.31) 16.667%, rgba(233, 154, 68, 0.31) 33.334%,rgba(212, 131, 91, 0.31) 33.334%, rgba(212, 131, 91, 0.31) 50.001000000000005%,rgba(191, 107, 115, 0.31) 50.001%, rgba(191, 107, 115, 0.31) 66.668%,rgba(170, 84, 138, 0.31) 66.668%, rgba(170, 84, 138, 0.31) 83.33500000000001%,rgba(149, 60, 161, 0.31) 83.335%, rgba(149, 60, 161, 0.31) 100.002%),linear-gradient(90deg, rgb(77, 244, 119) 0%, rgb(77, 244, 119) 14.286%,rgb(76, 233, 127) 14.286%, rgb(76, 233, 127) 28.572%,rgb(75, 221, 136) 28.572%, rgb(75, 221, 136) 42.858%,rgb(74, 210, 144) 42.858%, rgb(74, 210, 144) 57.144%,rgb(72, 198, 152) 57.144%, rgb(72, 198, 152) 71.42999999999999%,rgb(71, 187, 161) 71.43%, rgb(71, 187, 161) 85.71600000000001%,rgb(70, 175, 169) 85.716%, rgb(70, 175, 169) 100.002%);
    font-weight: 600;
    position: relative;

}
.calecita img {
    object-fit: contain;
    height: 30rem;
    background-image: linear-gradient(0, rgba(254, 178, 45, 0.31) 0%, rgba(254, 178, 45, 0.31) 16.667%,rgba(233, 154, 68, 0.31) 16.667%, rgba(233, 154, 68, 0.31) 33.334%,rgba(212, 131, 91, 0.31) 33.334%, rgba(212, 131, 91, 0.31) 50.001000000000005%,rgba(191, 107, 115, 0.31) 50.001%, rgba(191, 107, 115, 0.31) 66.668%,rgba(170, 84, 138, 0.31) 66.668%, rgba(170, 84, 138, 0.31) 83.33500000000001%,rgba(149, 60, 161, 0.31) 83.335%, rgba(149, 60, 161, 0.31) 100.002%),linear-gradient(90deg, rgb(77, 244, 119) 0%, rgb(77, 244, 119) 14.286%,rgb(76, 233, 127) 14.286%, rgb(76, 233, 127) 28.572%,rgb(75, 221, 136) 28.572%, rgb(75, 221, 136) 42.858%,rgb(74, 210, 144) 42.858%, rgb(74, 210, 144) 57.144%,rgb(72, 198, 152) 57.144%, rgb(72, 198, 152) 71.42999999999999%,rgb(71, 187, 161) 71.43%, rgb(71, 187, 161) 85.71600000000001%,rgb(70, 175, 169) 85.716%, rgb(70, 175, 169) 100.002%);
    font-weight: 600;
}
.calecita-cards{
    width: 100%;
    height: 30rem;
    background-image: linear-gradient(0, rgba(254, 178, 45, 0.31) 0%, rgba(254, 178, 45, 0.31) 16.667%,rgba(233, 154, 68, 0.31) 16.667%, rgba(233, 154, 68, 0.31) 33.334%,rgba(212, 131, 91, 0.31) 33.334%, rgba(212, 131, 91, 0.31) 50.001000000000005%,rgba(191, 107, 115, 0.31) 50.001%, rgba(191, 107, 115, 0.31) 66.668%,rgba(170, 84, 138, 0.31) 66.668%, rgba(170, 84, 138, 0.31) 83.33500000000001%,rgba(149, 60, 161, 0.31) 83.335%, rgba(149, 60, 161, 0.31) 100.002%),linear-gradient(90deg, rgb(77, 244, 119) 0%, rgb(77, 244, 119) 14.286%,rgb(76, 233, 127) 14.286%, rgb(76, 233, 127) 28.572%,rgb(75, 221, 136) 28.572%, rgb(75, 221, 136) 42.858%,rgb(74, 210, 144) 42.858%, rgb(74, 210, 144) 57.144%,rgb(72, 198, 152) 57.144%, rgb(72, 198, 152) 71.42999999999999%,rgb(71, 187, 161) 71.43%, rgb(71, 187, 161) 85.71600000000001%,rgb(70, 175, 169) 85.716%, rgb(70, 175, 169) 100.002%);
    font-weight: 600;
}
.calecita-cards img{
    object-fit: contain;
    height: 30rem;
    position: absolute;
}
.video_Header_btn_text{
    top: 30rem;
    width: 100%;
    height: 4rem;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    padding-bottom: 3rem;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 2;
}
.video_Header_btn_text a{
    height: 3rem;
    border-radius: 20px;
    text-decoration: none;
    color: #ffffff; 
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.Btn-header{
    height: 3rem;
    margin-left: 2rem;
    display: grid;
    border-radius: 20px;
    background-color: #38960d;
    color: #ffffff;
    font-weight: bold;
    place-content: center;
    box-shadow: 0px -5px rgba(0, 0, 0, 0.733);
    transition: transform 0.5s ease-in-out;
}
.Btn-header:hover{
box-shadow: -2px -2px 5px black,
2px 2px 5px black;
animation: latido 1.5s infinite
}
.navbar{
    height: 4rem;
    width: 100%;
        background-image: linear-gradient(0, rgba(254, 178, 45, 0.31) 0%, rgba(254, 178, 45, 0.31) 16.667%,rgba(233, 154, 68, 0.31) 16.667%, rgba(233, 154, 68, 0.31) 33.334%,rgba(212, 131, 91, 0.31) 33.334%, rgba(212, 131, 91, 0.31) 50.001000000000005%,rgba(191, 107, 115, 0.31) 50.001%, rgba(191, 107, 115, 0.31) 66.668%,rgba(170, 84, 138, 0.31) 66.668%, rgba(170, 84, 138, 0.31) 83.33500000000001%,rgba(149, 60, 161, 0.31) 83.335%, rgba(149, 60, 161, 0.31) 100.002%),linear-gradient(90deg, rgb(77, 244, 119) 0%, rgb(77, 244, 119) 14.286%,rgb(76, 233, 127) 14.286%, rgb(76, 233, 127) 28.572%,rgb(75, 221, 136) 28.572%, rgb(75, 221, 136) 42.858%,rgb(74, 210, 144) 42.858%, rgb(74, 210, 144) 57.144%,rgb(72, 198, 152) 57.144%, rgb(72, 198, 152) 71.42999999999999%,rgb(71, 187, 161) 71.43%, rgb(71, 187, 161) 85.71600000000001%,rgb(70, 175, 169) 85.716%, rgb(70, 175, 169) 100.002%);
    font-family: Rubik, sans-serif, sans-serif;
    position: sticky;
}
.navbar-nav{
    gap: 1rem;
}
.nav-item-button{
    border-radius: 20px;
    background-color: #38960d4f;
    transition: transform 0.5s ease-in-out; 
}
.nav-item-button:hover{
background-color: #0056b3; 
box-shadow: -2px -2px 5px black,
2px 2px 5px black;
}
.nav-link{
    width: 12rem;
    font-size: 1rem;
    color: black;
    font-weight: 600;
    border-radius: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}
.nav-link:hover{
    color: white;
}
.text {
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
  }
.div_saludo {
    width: 100% !important;
    margin-top: 15rem;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.div_saludo h1{
    width: 90%;
    padding: 1rem;
    font-size: 4rem;
    border-radius: 10%;
    background-color: #77df7f7e;

}
.cuerpa_seccion_uno{
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
}
.cuerpa_seccion{
    width: 35%;
    height: 15rem;
    color: #202020;
    text-align: center;
}
.cuerpa_seccion img{
    width: 10%;
    height: 15%;
}
.cuerpa_seccion h2{
    padding: 0;
    margin: 0;
}
.cuenta_texto{
    width: 50%;
    padding: auto;
    margin-top: 5rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;

}
.cuenta_texto_titulo{
    width: 50%;
    font-size: xx-large;
}
.cuenta_texto_titulo_h2{
    width: 80%;
    color: #008000;
    font-weight: 600;

}
.contenedor_tarjeta {
    width: 50rem;
    display: flex;
    justify-content: space-between;
    margin-left: 5rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.tarjeta {
    width: 30rem;
    height: 15rem;
    max-width: 400px;
    color: #fff;
    font-weight: 900;
    border-radius: 15px;
    background-image: linear-gradient(#008000,#4bd44b,#09db1b);
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}
.tarjeta_delantera {
    display: flex;
    flex-direction: column;
}
.tarjeta_delantera .grupo {
    display: flex;
    flex-direction: column;
    text-align: start;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 3rem;
}
.btn_detalles{
    color: floralwhite !important;

}
.tarjeta a{
    margin: 0;
}
.grupo .label {
    font-size: 1.2rem;
    color: #fff;
    font-weight: bold;
}
.contenedor_loan {
    width: 50rem;
    display: flex;
    margin-top: 4rem;
    margin-bottom: 6rem;
}

.prestamos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    width: 100%;
    height: 10rem;
    color: #fff;
    font-weight: bolder;
    background-image: url(../image/Fondo-tarjeta-verde.avif);
}
.prestamos h3{
    margin: 0;
    font-size: 6rem;
}
.table {
    margin-left: 10rem;
    width: 50vw;
    margin-top: 4rem;
}
.flip-card {
    background-color: transparent;
    width: 240px;
    height: 154px;
    perspective: 1000px;
    color: rgb(0, 0, 0);
    filter: blur(0.2px);
    filter: contrast(-200%);
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.heading_8264 {
    position: absolute;
    letter-spacing: .2em;
    font-size: 0.5em;
    top: 2em;
    left: 18.6em;
}

.logo {
    position: absolute;
    top: 6.8em;
    left: 11.7em;
}

.chip {
    position: absolute;
    top: 2.3em;
    left: 1.5em;
}

.contactless {
    position: absolute;
    top: 3.5em;
    left: 12.4em;
}

.number {
    position: absolute;
    font-weight: bold;
    font-size: .6em;
    top: 8.3em;
    left: 1.6em;
}

.valid_thru {
    position: absolute;
    font-weight: bold;
    top: 635.8em;
    font-size: .01em;
    left: 140.3em;
}

.date_8264 {
    position: absolute;
    font-weight: bold;
    font-size: 0.5em;
    top: 13.6em;
    left: 3.2em;
}
.date_8265 {
    color: red;
    position: absolute;
    font-weight: bold;
    font-size: 1em;
    top: 7.5em;
    left: 3.2em;
}


.name {
    position: absolute;
    font-weight: bold;
    font-size: 0.5em;
    top: 16.1em;
    left: 2em;
}

.strip {
    position: absolute;
    background-color: black;
    width: 15em;
    height: 1.5em;
    top: 2.4em;
    background: repeating-linear-gradient(45deg,
            #303030,
            #303030 10px,
            #202020 10px,
            #202020 20px);
}

.mstrip {
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 8em;
    height: 0.8em;
    top: 5em;
    left: .8em;
    border-radius: 2.5px;
}

.sstrip {
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 4.1em;
    height: 0.8em;
    top: 5em;
    left: 10em;
    border-radius: 2.5px;
}

.code {
    font-weight: bold;
    text-align: center;
    margin: .2em;
    color: black;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 1rem;
}

.flip-card-front {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
    background-image: linear-gradient(#cbe54e, #5ba8a0);
    filter: brightness(1.5);
}

.flip-card-back {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
    background-image: linear-gradient(#cbe54e, #5ba8a0);
    transform: rotateY(180deg);
}

.flip-card-front-gold {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
    background-image: linear-gradient(#ffd700, #5ba8a0);
    filter: brightness(1.5);
}
.flip-card-front-silver {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
    background-image: linear-gradient(gray, #5ba8a0);
    filter: brightness(1.5);
}

.flip-card-front-titanium {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
    background-image: linear-gradient(silver, #5ba8a0);
    filter: brightness(1.5);
}
.pie{
    height: 15rem;
    border-top: solid 1px #5ba8a0;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    text-align: start; 
    padding: 1rem;
}
.pie a{
    text-decoration: none;
}

.body-sinUp{
    font-family: Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
}
.sinUp-formul-header{
    width: 100%;
    height: 20vh;
    background-image: linear-gradient(0, rgba(254, 178, 45, 0.31) 0%, rgba(254, 178, 45, 0.31) 16.667%,rgba(233, 154, 68, 0.31) 16.667%, rgba(233, 154, 68, 0.31) 33.334%,rgba(212, 131, 91, 0.31) 33.334%, rgba(212, 131, 91, 0.31) 50.001000000000005%,rgba(191, 107, 115, 0.31) 50.001%, rgba(191, 107, 115, 0.31) 66.668%,rgba(170, 84, 138, 0.31) 66.668%, rgba(170, 84, 138, 0.31) 83.33500000000001%,rgba(149, 60, 161, 0.31) 83.335%, rgba(149, 60, 161, 0.31) 100.002%),linear-gradient(90deg, rgb(77, 244, 119) 0%, rgb(77, 244, 119) 14.286%,rgb(76, 233, 127) 14.286%, rgb(76, 233, 127) 28.572%,rgb(75, 221, 136) 28.572%, rgb(75, 221, 136) 42.858%,rgb(74, 210, 144) 42.858%, rgb(74, 210, 144) 57.144%,rgb(72, 198, 152) 57.144%, rgb(72, 198, 152) 71.42999999999999%,rgb(71, 187, 161) 71.43%, rgb(71, 187, 161) 85.71600000000001%,rgb(70, 175, 169) 85.716%, rgb(70, 175, 169) 100.002%);
    font-family: Rubik, sans-serif, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.sinUp-formul-header-logo{
    width: 20%;
    height: 90%;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    display: flex;
    justify-content: flex-start;
    padding: 2rem;
}
.sinUp-formul-header-text{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sinUp-formul-header-text h1{
    width: 500px;
}
.sinUp-formul-header-anchor{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.sinUp-formul-header-anchor a{
    text-decoration: none;
    color: white;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.sinUp-formul-main{
    width: 100%;
    height: 100%;
    background-image: url('../image/—Pngtree—3d\ wooden\ library\ and\ room_2672088.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.sinUp-formul-main-h2 {
    color: steelblue;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    font-family: Rubik, sans-serif, sans-serif;
}
.sinUp-formul-main-main{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.sinUp-formul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
}
.sinUp-formul-main-h2{
    font-family: Rubik, sans-serif, sans-serif;
    color: #008000;
}

.sinUp-formul-form {
    background-color: rgba(255, 255, 255, 0.7); /* Trasparencia */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Sombra */
    margin-bottom: 20px;
    margin-top: 20px;
    width: 300px;
    text-align: center;
    margin-left: 190px;
}

.sinUp-formul-form-input[type="text"],
.sinUp-formul-form-input[type="email"],
.sinUp-formul-form-input[type="password"] {
    width: 80%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
}

.sinUp-formul-form-button {
    width: 55%;
    padding: 10px;
    background-color: #39960db6; 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.5s ease-in-out;
    margin-left: 200px;
}
.sinUp-formul-form-button:hover {
    background-color: #0056b3; 
    box-shadow: -2px -2px 5px black,
    2px 2px 5px black;
    animation: latido 1.5s infinite
}
@keyframes latido {
    0%, 100% {
      transform: scale(0.8);
    }
    50% {
      transform: scale(1);
    }
  }
.sinUp-formul-form-button-sign{
    width: 60%;
    padding: 10px;
    background-color: #39960db6; 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.5s ease-in-out;
}
.sinUp-formul-form-button-sing:hover {
    background-color: #0056b3; 
    box-shadow: -2px -2px 5px black,
    2px 2px 5px black;
    animation: latido 1.5s infinite
}
@keyframes latido {
    0%, 100% {
      transform: scale(0.8);
    }
    50% {
      transform: scale(1);
    }
  }
.Btn {
    position: absolute;
    z-index: 2222;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: rgb(5, 65, 65);
  }
  .video_container{
    width: 30%;
    
  }
  .video_container_video{
    width: 100%;
    border:  solid #39960db6 5px;
    border-radius: 10px;
  }

  .sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sign svg {
    width: 17px;
  }
  
  .sign svg path {
    fill: white;
  }
  /* hover effect on button width */
  .Btn:hover {
    width: 125px;
    border-radius: 40px;
    transition-duration: .3s;
  }
  
  .Btn:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 20px;
  }
  /* hover efecto button de text */
  .Btn:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
  }

  .Btn:active {
    transform: translate(2px ,2px);
  }

  .alert-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.8); /* Fondo rojo con transparencia */
    z-index: 9999; /* Asegura que esté encima de otros elementos */
}
.alert-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    position: relative;
    text-align: center;
}

.alert-close {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    font-weight: bold;
    color: red;
}

.alert-close:hover {
    color: darkred;
}

[v-cloak] {
    display: none !important;
}
.crearTarjeta_contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

}
.valid_thru{
    font-size: 1rem;
    color: red !important;
}
.form-container_main{
    display: flex;
    justify-content: center;
}
.form-container {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 60%;
    /* padding-left: 20rem;
    padding-right: 20rem; */
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.form-title {
    color: #333;
}

.form-label {
    font-size: 18px;
    margin-top: 10px;
    color: #333;
}
.form-radio-group {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.form-radio-input {
    margin-right: 5px;
}

.form-radio-label {
    font-size: 16px;
}

.form-select {
    width: 100%;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-button {
    background-color: #4CAF50;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}

.form-button:hover {
    background-color: #45a049;
}
.bg-loan-new{
    background-image: url(../image/77524338-pícaro-vector-plano.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.info{
    border: solid 2px rgb(143, 143, 143);
    border-radius: 5%;
}
.loan-uno{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.loan-form{
    width: 40%;
    padding: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 2px rgb(143, 143, 143);
    border-radius: 5%;
}
.form-group{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}
.card-body-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}