.navbar{
	margin-top: 15rem;
	transform: rotate(270deg);
}
.cabeza{
	background-color: #b6f0d5;
	
	min-height: 630px;
	width: 10%;
}
.nav-item{
	transform: rotate(90deg);
}
.navbar-brand{
	margin-left: 5rem;
}
.navbar-brand img{
	width: 40px;
	height: 40px;
	transform: rotate(90deg);
}
.nav-link{
	background-color: #3b5284;
	color: #cbe54e;
	font-weight: bold;
	border-radius: 15%;
}
.cuerpa{
	background-image: linear-gradient(#cbe54e, #5ba8a0);
}
.contenedor{
	display: flex;
}
.eldiv{
	color: #3b5284;
	width: 60rem;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	position: absolute;
}
.tarjeta {
	width: 30rem;
	height: 15rem;
	max-width: 400px;
	position: relative;
	color: #fff;
	z-index: 2;
	border-radius: 15px;
	background-image: url(../image/Fondo-tarjeta-verde.avif);
	margin-top: 110px !important;
	margin-left: 7rem;
	z-index: 1;
}
.tarjeta .delantera {
	width: 100%;
}
.delantera .grupo .label {
	font-size: 1.5rem;
	color: #6dece6;
	font-weight: bold;
	margin-bottom: 5px;
	display: flex;
	justify-content: center;
}

.delantera .grupo .numero{
	display: flex;
	justify-content: center;
}
.calecita{
	height: 14rem;
	width: 50rem;
	position: absolute;
	margin-top: 400px !important;
	margin-left: 180px;
	z-index: 5;
	display: flex;
}
.calecita img{
	height: 20rem;
	width: 50rem;
}
.table{
	height: 14rem;
	width: 50rem;
	position: relative;
	margin-top: 400px !important;
	margin-left: 180px;
	z-index: 5;
	display: flex;
}
